body{

	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}



#container{

	width: 100%;
	margin: 0 auto;
	background: #fff;
	min-width: 720px;

}

#marca{
    
	height: 100px;
	background: #9E9E9E;
	text-align: center;
	line-height: 100px;
}

#conteudo{
    
	width: 75%;
	float: right;
}

#navegacao{

	width: 23%;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #d1d1d1;
	
}


#conteudo-principal{
  
    width: 63%;
    float: left;

}


#conteudo-secundario {

	width: 34%;
	float: right;
	background: #d1d1d1;
}


#conteudo-secundario h1, #conteudo-secundario h2, #conteudo-secundario h3, #conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
}


#navegacao ul{

    margin: 0;
	padding: 0;
	list-style-type: none;
}


#navegacao ul a{

	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;


}



#navegacao li a {

	text-decoration: none;
}


#navegacao a:hover{
   
    background-position: right bottom;
	background-color: #f99200;
    color: #fff;
}


#rodape{

	clear: both;
	background: #c4c4c4;
	padding: 5px;
}

